* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: #dfe3e8;
}



/* TOPBAR */

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background: #f1f1f1;
}

.tabs {
    display: flex;
    gap: 50px;
}

.tab {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding-bottom: 6px;
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.tab.active {
    border-bottom: 2px solid black;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #1b3a8a;
}



/* LAYOUT */

.layout {
    display: flex;
    height: calc(100vh - 70px);
}



/* SIDEBAR */

.sidebar {
    width: 220px;
    background: #e6e6e6;
    padding: 20px;
}

.menu-title {
    background: #0f2c74;
    color: white;
    padding: 12px;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.menu {
    list-style: none;
}

.menu li {
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.menu li.active {
    background: #0f2c74;
    color: white;
}



/* CONTENT */

.content {
    flex: 1;
    padding: 40px;
}



/* SCHEDULE */

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.day-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.day {
    background: #cfd8e6;
    padding: 5px 10px;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
}

.day-card p {
    font-size: 14px;
    margin-top: 5px;
}

.active-day {
    background: #102a6a;
    color: white;
}



/* MATERIALS */

.materials-card {
    background: white;
    padding: 30px;
    border-radius: 12px;
    width: 700px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.topics {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.topic {
    background: #c7d6e6;
    padding: 15px;
    border-radius: 8px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 45px;
    width: auto;
    object-fit: contain;
}


/* TABS */

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.grades-table {
    width: 600px;
    background: white;
    border-radius: 10px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.grades-table th {
    background: #0f2c74;
    color: white;
    padding: 10px;
}

.grades-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.grades-table tr:hover {
    background: #f3f6fb;
}